<!DOCTYPE html>
	<html>
		<head>
			<title>Monet Mall</title>
			<link type='text/css' rel='stylesheet' href='/css/stylesheet.css'/>
		</head>
		<body>
			<div id='container'>
				<div id='banner'></div>
				<div id='navbar'>
					<div class='nav'><a href=''>Home</a></div>
					<div class='nav'><a href=''>Create Class</a></div>
					<div class='nav'><a href='createInstructor.jsp'>Create Instructor</a></div>
					<div class='nav'><a href='/studentCharges'>Student Charges</a></div>
					<div id='login' class='nav'><a href='/login'>Log Out</a></div>
				</div>